[Unit]
Description='IB Gateway'
After=docker.service
Wants=docker.service

[Service]
Environment='TWS_USERID=your_ibkr_username'
Environment='TWS_PASSWORD=your_ibkr_password'
ExecStart=/usr/bin/bash /root/run-ib-gateway.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
