[Unit]
Description=Stockholm
After=ib-gateway.service
Wants=ib-gateway.service

[Service]
ExecStart=/usr/local/bin/stockholm
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
